{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>navbar}}
        </div>
        <div class="col-md-12">
            <div class="card">
                <img src="images/img.jpg" alt="not found" height="400px">
            </div>
            <div class="col-md-12">
            <center><h1 id="div1"><b>online Shoping</b></h1>
           <a href="/register"> <input type="button" class="btn btn-success" value="Registation"></a>
           <a href="/shoping"> <input type="button" class="btn btn-danger" value="GetStart"></a>
            </center>
            </div>
        </div>
    </div>
</div>

 
        