{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>navbar}}
        </div>
        <div class="col-md-6">
            <form action="/logincng" method="POST">
              <input type="email" placeholder="Enter The Email id" name="gmail" class="form-control"><br>
              <input type="password" placeholder="Enter The password" name="password" class="form-control"><br>
              <input type="submit" class="btn btn-danger" value="Login">
            </form>
        </div>
    </div>
</div>