{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>navbar}}
        </div>
        <div class="col-md-6">
            <form action="/order" method="POST" enctype="multipart/form-data">
            <input type="text" class="form-control" name="first" placeholder="Enter The name"><br>
            <input type="number" placeholder="Enter The Unique number" class="form-control" class="form-control" name="number"><br>
            <input type="text" placeholder="Enter The Price" class="form-control" name="price"><br>
            <input type="file" name="file" class="form-control"><br>
            <input type="submit" class="btn btn-danger" value="submit">
            </form>
        </div>
    </div>
</div>