{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>navbar2}}
        </div>
    </div>
    
     <nav class="nov" style="background-color: brown;">
            <img class="logo" src="images/what.png" alt="not found">
            <h1>Messanger</h1>
        </nav>
        <div class="containerd">
             {{!-- <div class="message right">hi i am boton</div>
            <div class="message left">hi i am subhom</div>  --}}
        </div>
        <div class="send">
            <form action="#" id="send-container">
                <input type="text" name="messageInp" id="messageInp">
                <button class="btn" type="submit">Send</button>
            </form>
        </div>
</div>